/*
 Theme Name:   Astra Lite Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Riba Lite Child Theme
 Author:       Dayne Game
 Author URI:   http://example.com
 Template:     astra
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  astra-child
*/

.main-header-bar {
    width: 100% !important;
    border-bottom: 5px solid lightgreen !important;
    text-align: left !important;
} 
.ast-container {
    max-width: 100% !important;
}
.main-header-all {
    text-align: center !important;
    padding: 30px;
    text-align: center;
    color: white !important;
    background-color: #aaa;
    background-image: url(images/placeimg_1000_284_nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 200px !important;
    width: 100% !important;
}
.main-header-bar-navigation {
    float: left !important;
}
.main-header-all > h1 {
    line-height: 150px !important;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    font-size: 60px !important;
}
.entry-content {
    background-color: lightgray !important;
}
.site-footer {
    background-color: lightgray !important;
}
.main-header-all > h1 {
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.body {
    background-color: lightgrey !important;
}
.ast-footer-overlay {
    border: 6px solid white !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px;
    background-color: lightgreen !important;
}
.footer-sml-layout-2 .ast-small-footer-section-1 {
    text-align: center !important;
    width: 100% !important;
    font-size: 20px !important;
    font-weight: bold;
}
.footer-sml-layout-2 .ast-small-footer-section-2 {
    display: none;
}
.footer-sml-layout-2 {
    background-color: lightgray !important;
}
.elementor-section {
    background-color: lightgray !important;
}
.img {
    max-height: 200px !important;
}
.content-text-right1 {
    background-color: white;
    padding: 20px;
    height: 440px !important;
    border-radius: 25px;
}
h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif !important;
}
.img1-left {
    background-color: lightgreen;
    height: 444px;
    border-radius: 25px;
    padding: 20px;
}
.image-basic {
    border-radius: 25px;
    width: 100%;
    height: 400px;
}
.img-about {
    background-image: url("images/placeimg_500_400_nature.jpg");
    background-size: cover;
}
.img-post {
    background-image: url("images/placeimg_515_400_any.jpg");
    background-size: cover;
}
.img-contact {
    background-image: url("images/placeimg.jpg");
    background-size: cover;
}
.about-text-fluid {
    background-color: white !important;
    padding: 20px !important;
    border-radius: 25px !important;
}
.map-background {
    background-color: lightgreen !important;
    height: 350px !important;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
}
.post-text-75, .person-25 {
    background-color: white !important;
    height: 440px;
    border-radius: 25px;
    padding: 20px !important;
}
.image-background-post {
    width: 100%;
    height: 200px;
}
.image1 {
    background-image: url("images/post-img-2.jpg");
    background-size: cover;
    width: 48%;
    height: 100%;
}
.image2 {
    background-image: url("images/placeimg_600_200_any.jpg");
    width: 48%;
    height: 100%;
    background-size: cover;
}
.person-image {
    height: 250px;
    width: 100%;
    background-position-y: -130px;
    background-image: url("images/placeimg_400_400_people.jpg");
    background-size: cover !important;
}
.contact-container {
    width: 100%;
    background-color: orange;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.box {
    width: 75%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: red;
}
.name-title, .email-title, .subject-title, .message-title {
    border-top: solid #aaa 1px;
    border-right: solid #aaa 1px;
    border-left: solid #aaa 1px;
    padding: 15px;
    width: 100% !important;
    margin: 0 !important;
    background-color: white !important;
}
.email-title {
    margin-top: 45px !important;
}
.fname-input {
    width: 50% !important;
    float: left !important;
    padding: 15px !important;
    border: 1px solid #aaa !important;
    background-color: white !important;
}
.lname-input {
    width: 50% !important;
    padding: 15px !important;
    float: right !important;
    margin-top: -27px !important;
    border-top: solid #aaa 1px !important;
    border-right: solid #aaa 1px !important;
    border-bottom: solid #aaa 1px !important;
    background-color: white !important;
}
.email-input, .subject-input, .message-input {
    width: 100% !important;
    border: 1px solid #aaa !important;
    padding: 15px !important;
    background-color: white !important;
}
.message-input {
    height: 167px !important;
    overflow-y: auto !important;
    resize: none !important;
    width: 100% !important;
}
.submit {
    background-color: rgb(0 , 169, 57) !important;
    margin-left: 38% !important;
}

/*-----------------------------------------------------------------*/
/*---------------------- Media Queries ----------------------------*/
/*-----------------------------------------------------------------*/

@media screen and (max-width: 768px) { /* Media Queries for Tablet */
    .main-header-all > h1 {
        font-size: 50px !important;
    }
    .image1, .image2 {
        width: 100% !important;
    }
    .lname-input {
        margin-top: -25px !important;
    }
}
@media screen and (max-width: 360px) { /* Media Queries for Phone */
    .main-header-all > .title-header {
        font-size: 40px !important;
        overflow-wrap: normal !important;
        line-height: 50px !important;
    }
    .img1-left {
        height: 240px !important;
    }
    .img-about, .img-post, .img-contact {
        height: 200px !important;
    }
    .content-text-right1 > h4 {
        font-size: 15px !important;
    }
    .about-text-fluid > h5 {
        font-size: 15px !important;
    }
    .person-image {
        background-position-y: 0;
    }
    p {
        font-size: 11px !important;
    }
    .fname-input {
        min-width: 100% !important;
        border-bottom: none !important;
    }
    .lname-input {
        min-width: 100% !important;
        margin: 0 !important;
        border-left: 1px solid #aaa !important;
    }
    .email-title {
        margin-top: 95px !important;
    }
    .submit {
        margin-left: 22% !important;
    }
}